<div class="header">
    <div class="header1">
        <h4 class="anais-do-simpsio">
            Anais do Simpósio Latino Americano de Ciências de Alimentos
        </h4>
        <h3 class="anais-do-13">
            Anais do 13º Simpósio Latino Americano de Ciência de Alimentos
        </h3>
        <h4 class="issn-1234-5678">ISSN: 1234-5678</h4>
    
    </div>
    
    
    <div class="login">
        <div class="email">alguem12@galoascience.com</div>
        <img class="imagem-icon" alt="" src="../../../assets/image/imagem.png" />

        <div class="notification-badge">
            <div class="masterbasic"></div>
            <b class="b">2</b>
        </div>
        <div class="bem-vindo">Bem vindo!</div>
    </div>
    <div class="boto-idiomas">
        <img class="language-image-icon" alt="" src="../../../assets/image/language-image.png" />

        <div class="language-button"></div>
        <img class="dropdown-icon" alt="" src="../../../assets/icon/dropdown.svg" />

        <div class="pt-br">PT, BR</div>
    </div>

</div>